<html>
<head>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/4.2.3/css/foundation.min.css">
	</head>
<body>
	<div class="row">
		<div class="large-12 columns"
  <%= yield %>
</div>
</div>
</body>